

<!DOCTYPE html>
<html>
<head>
  <title>Myblog2</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-dark border-bottom text-light">
    <h4 class="my-0 mr-md-auto font-weight-normal text-light font-weight-bold">My Blog</h4>
    <nav class="my-2 my-md-0 mr-md-3">
      <span class="p-2 text-light"><%= link_to("Main Page", posts_path,  {:class => 'text-light'}) %></span>
      <span class="p-2 text-light"><%= link_to("Add Post", new_post_path,  {:class => 'text-light btn btn-outline-primary'}) %></span>
    </nav>
  </div>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
